@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    color: #697070;
    background-color: #f8f8f8;
}


h2 {
    color: #2c3e50;
    font-size: 32px;
    font-weight: 400;
}

header {
    background-color: #f8f8f8;
}

.logo {
    height: 60px;
    margin: 20px;
}

.c-cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.75rem;
    grid-template: auto / repeat(auto-fit, minmax(275px, 1fr));
}

.card {
    margin-bottom: 1rem;
    padding: .2rem;
    margin: 0 auto
}

.card-title {
    color: #84bc4a;
    font-size: 24px;
    font-weight: 400;
}

.card-author,
.card-text {
    font-size: 16px;
    font-weight: 200;
}

.stars {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    float: left;
}

.stars input {
    display: none;
}

.fa-star {
    color: #dbd7d7;
    transition: all .2s ease;
    cursor: pointer;
}

.stars input:not(:checked)~label:hover,
.stars input:not(:checked)~label:hover~label {
    color: #6eb92b;
}

.stars input:checked~label {
    color: #6eb92b;
}

.active {
    color: #6eb92b;
}

.comments i {
    padding-right: .5rem;
    color: #6eb92b;
}

.btn {
    background-color: #6eb92b !important;
    color: #ffffff !important;
}

.form-control{
    border-radius: 5px !important;
    max-width: 475px;
}

.alert-box{
    -webkit-box-shadow: 0px 0px 15px -7px #000000; 
    background-color: #ffffff;
    box-shadow: 0px 0px 15px -7px #000000;
    width: fit-content;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.alert-box p{
    padding: .5rem 0 2.5rem;
}

.alert-box button{
    text-align: center;
    padding: 0 1rem;
}

form label{
    font-size: 20px;
}

@media only screen and (min-width: 678px) {

    .container{
        width: 85%;
        margin: 0 auto;
    }
}



@media only screen and (min-width: 678px) {

    .card{
        width: 400px !important;
    }
    .c-cards {
        grid-template: auto / repeat(auto-fit, minmax(400px, 1fr));
    }
}

.container-form{
    margin-top: 3.5rem;
}

.reactions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    position: relative;
}

.rating{
    position: absolute;
    left: 0;
}